section {
    padding: ($padding * 3) ($padding * 2);
    color: $color-two;
}

p {
    font-size: $font-small;
}

.buttons-container {
    @include align_x;
    p {
        margin: 0 ($margin / 2);
    }
}

.row-1 {
    padding: ($padding * 3) 0;
    .col-right {
        img {
            width: 100%;
        }
    }
    .col-left {
        .buttons-container-top {
            color: $color-two;
            margin: ($margin * 3) 0 ($margin * 2) 0;
        }
    }
}

.row-2 {
    background-color: $color-one;
    text-align: center;
    color: white;
    h4 {
        margin: auto;
        padding: 0 ($padding*2);
        max-width: 650px;
    }
    .img-container-top {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: ($margin*4) ($margin*4) ($margin*2);
        .img-card {
            img {
                height: 100px;
                width: 100px;
                margin: 0 ($margin*4) ($margin*4);
                padding: 10px;
                background-color: white;
            }
        }
    }
    .img-container-bot {
        img {
            width: 250px;
            margin: $margin*2 0 $margin*8;
            padding: 25px;
            background-color: white;
        }
    }
    hr {
        margin-bottom: ($margin*6);
    }
}

.row {
    .img-col, .text-col {
        padding: 0;
        display: flex;
        flex-direction: column;
        img {
            width: 100%;
        }
    }
    .text-col {
        span {
            margin: ($margin*4) 0 ($margin*2);
            padding-right: $padding*2;
            max-width: 320px;
        }
        a {
            margin-bottom: ($margin*2);
        }
    }
}

.row-7 {
    text-align: center;
    background-color: $color-one;
    color: white;
    .title-container {
        margin: auto;
        max-width: 400px;
        h2 {
            margin: auto;
            margin-bottom: $margin*2;
        }
    }
    .text-container {
        text-align: start;
        margin: auto;
        margin-top: $margin*5;
        padding: $padding*2;
        background-color: white;
        max-width: 660px;
        color: $color-two;
        border: solid 2px $color-two;
        border-radius: 10px;
        .signatures-line {
            display: flex;
            img {
                width: 50px;
                height: 50px;
                margin-right: $margin;
            }
            .signatures-container {
                display: flex;
                align-items: center;
                p {
                    margin: 0px;
                }
            }
        }

    }
    .buttons-container-bot {
        display: flex;
        justify-content: center;
        margin: ($margin*4) 0 ($margin*2);
    }
}

